/* Put your css in here */
body, html{
    height:100%;
    margin:0;
    padding:0;
}

*{
    font-family: 'Lato', serif;
}

.red{
    background-color: #1D3557;
    /*transition: all ease-out 1s;*/

}

.bodyAbout{
    background-color: #457B9D;
    transition: all ease-out 1s;

}

.bodyWork{
    background-color: #A8DADC;
    transition: all ease-out 1s;
}

.bodyContact{
    background-color: #EA4A66;
    transition: all ease-out 1s;
}

ul{
    margin:0;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
}

ul#fixed{
    /*position: fixed;*/
    top:0;

}

li{
    list-style: none;
    display:inline-block;
}

li a{
    text-decoration: none;
    color:black;
    font-size: 5em;
    font-family: 'Arvo', serif;
}

h1{
    text-align: center;
    padding-top: 210px;
    font-size: 5em;
}

.wrapper{
    height:100vh;
    width:100%;
    margin:auto;
    background-color: green;

}

.test{
    height:300px;
    width:100%;
    margin:auto;
    background-color: red;
}

.view{
    height:100%;
    width: 100%;
    margin: 0;
}
