/* general rules*/
body, html{
    height:100%;
    margin:0;
    padding:0;
}

@@font-face {
    src: url(font/Bonkers.otf);
    font-family: Bonkers;
}

*{
    font-family: 'Lato', serif;
}

.red{
    background-color: #1D3557;
    /*transition: all ease-out 1s;*/
}

/*body */

.bodyAbout{
    background-color: #457B9D;
    transition: all ease-out 1s;
}

.bodyWork{
    background-color: #A8DADC;
    transition: all ease-out 1s;
}

.bodyContact{
    background-color: #EA4A66;
    transition: all ease-out 1s;
}

/*textBody*/

h1{
    position: absolute;
    z-index:9999;
    text-align: center;
    padding-top: 25vh;
    font-size: 5em;
    font-family: Bonkers;
}


/*navBar*/

ul{
    margin:0;
    background-color: rgba(0,0,0,0.3);
    height:120px;
    list-style:none;
    position:relative;
}

li{
    display:inline-flex;
    /*background-color: yellow;*/
    margin:auto;
    margin-top: 40px;
    position:relative;
    float:right;
    left:-40%;
}

li a{
    position:relative;
    padding-left: 45px;
    text-decoration: none;
    color:black;
    font-size:2em;
    font-family: 'Arvo', serif;
}


/*wrapper*/

.wrapper{
    width:100%;
    margin:auto;
    padding: 0;
}

/*firstScreen*/

.firstScreen{
    height:calc(100vh - 120px );
    padding: 0;
}

.imgFirstScreen{
    padding: 0;
    z-index:2;
    width:468px;
    height:600px;
    position:relative;
    margin:auto;
}

.imgFirstScreen img{
    position:absolute;
    left:0;
    top:0;
    -moz-animation: spin 3s linear infinite;
}
@-moz-keyframes spin { 33% { -moz-transform: rotate(15deg);} }

/*secondScreen*/

.secondScreen{
    height:100vh;
    background-color: #0096BA;
}

.contactSpeech{
    display:block;
    margin:auto;
    padding-top: 300px;
    width: 60%;
}

.contactSpeech p {
  font-family: Bonkers;
  font-size:2em;
}

.contactSpeech a {
  font-family: Bonkers;
  font-size:2em;
  text-decoration: none;
}


/*Modal Contact*/

.modal .content {
  display: none;
  position: fixed;
  z-index:9999;
  overflow: auto;
}
